node_modules/

dist/
build/
*.map

.env
.env.*
config/*.json
config/*.js

*.tmp
*.temp
*.log

coverage/

downloads/

.idea/
.vscode/
*.sublime-*

*.sqlite
*.db

logs/
log.txt
npm-debug.log*

*.cache
.caches

.temp/
.temp_*/

.DS_Store
Thumbs.db
